.kolokacje {
    // background-color: #87228e;
    color: #fbfbfb;
    // &:hover {
    //     background-color: #761d7c;
    // }
}

.sliders {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: .5rem;
    color: #157347;
    opacity: .85;
    cursor: pointer;
    &:hover {
        color: #106842;
        opacity: 1;
    }
}

.search-buttons {
    display: flex;
    & button {
        margin-right: .5rem;
    }
}