nav.custom {
    padding-top: 0;
}

div.header {
    padding: .5rem;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 12%);
    margin-bottom: 1rem;
}

a.navbar-brand {
    margin: auto;
    font-family: Bookman, Palatino, serif;
    font-size: 1.6rem;
}

.spoco {
    color: rgb(134, 11, 58);
    // border-bottom: 1px solid rgb(134, 11, 58);
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.sep {
    margin-left: .2rem;
    margin-right: .4rem;
    letter-spacing: 1.2px;
}
