div.shifted {   // for ribbon display mode
    margin-left: -2rem;
}

div.corpora-choice {
    margin-left: auto;
    margin-right: 1.2rem;
    margin-top: -.8rem;
}

.bum {
    margin-right: 1rem;
}

