.dropdown-container {
  position: relative;
  display: inline-block;

  .trigger-btn {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #fafafa;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: -170px;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    padding: 8px;
    min-width: 200px;
  }

  .dropdown-option {
    padding: 4px 8px;

    label {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

input.input-check {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
