.tabs {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-header {
    background-color: lightskyblue !important;
}