@import '../results.component.scss';

.clickable {
    cursor: pointer;
}

fa-icon.right {
    float: right;
    margin-right: .5rem;
}

.plain td > * {
    padding: 0;
}

.enlarge {
    transition: all 0.2s 0.1s ease;
    display: inline-block;
    padding: 0;
    &:hover {
        transform: scale(1.3);
    }
}

.shift-langs {
    color: #555;
    font-size: 1.2rem;
    margin-top: 5px;
    &.shift-langs-left {
        margin-right: 1rem;
    }
    &.shift-langs-right {
        float: right;
    }
    &:hover {
        color: #111;
    }
    
}

.language-cells {
    display: flex;
    gap: 1rem;
}

.metadata-overlay {
    width: 100%;
    // background: #f0f0f0;
    // color: #555;
}

.viewWrapper {
    position: relative;
    overflow: hidden;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

td.valign-top {
    vertical-align: top;
}

.expand-icon {
    color: #666;
    &:hover {
       color: #111;
    }
}

th.expand {
    width: 60px;
}