ul.corpora-ribbon {
    list-style-type: none;
    text-transform: uppercase;
    display: none;
    margin-right: -2rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.corpora-ribbon div {
    display: inline-block;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: .1rem;
    padding-right: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px darkgray solid;
    border-right: none;
    border-radius: 8px 0 0 8px;
    background-color: white;
    min-width: 3rem;
    cursor: pointer;
    transition: all .3s 150ms;
    &.corpus-active {
        background-color: lightblue;
    }
    &:hover {
        filter: brightness(95%);
        padding-right: 1.5rem;
    }
}

.corpora-ribbon .corpus-primary {
    // border: 2px darkgray solid;
    // border-right: none;
    box-shadow: 1px 1px;
}

.corpora-ribbon .ribbon-arrow {
    font-weight: 600;
    font-size: 1.3rem;
    padding-right: .8rem;
    cursor: pointer;
    color: rgb(105, 105, 105);
    &:hover {
        color: black;        
    }
    &.arrow-up {
        margin-top: -1.95rem;
    }
    &.arrow-down {
        margin-top: -.3rem;
    }
}

@media (min-width: 768px) {

    ul.corpora-ribbon {
        display: block;
    }
    .corpora-ribbon div {
        margin-left: rem;
    }
}

@media (min-width: 950px) {
    .corpora-ribbon div {
        padding-left: .7rem;
    }
}