$pattr-border-color: #aaa;
$pattr-border-color-init: rgb(170, 170, 170);
$pattr-box-shadow: #f0f0f0;

div.modifiers {
    margin-top: .8rem;
    margin-left: .8rem;
}

label.modifier {
    margin-right: .5rem;
}

.query-row {
    margin-bottom: 2rem;
}

span.pattr-checkboxes {
    display: inline-block;
    margin-left: 2rem;
    margin-right: .5rem;
}

.description {
    font-size: small;
}

.selected-item {
    font-size: .75rem;
    margin-top: .125rem;
    margin-bottom: .125rem;
}

.pattr-input {
    transition: all .2s ease-out;
    & .multiselect-dropdown {
        transition: all .2s ease-out;
        & .dropdown-btn {
            border: 1px solid $pattr-border-color-init;
        }
    }
}

.pattr-input:hover, .pattr-input:focus {
    // border: 1px solid $pattr-border-color;
    box-shadow: 2px 2px 2px $pattr-box-shadow;
    & .multiselect-dropdown {
        box-shadow: 2px 2px 2px $pattr-box-shadow;
    }
}

// TODO: increase specificity to avoid !important

.multiselect-item-checkbox input[type='checkbox'] + div:before {
    top: 55% !important;
    border: 2px solid black !important;
  }