.results {
    margin-top: 1rem;
    font-size: .9rem;
    & tr,th,td {
        padding: .75rem;
        padding-left: 1rem;
        border-top: 1px solid #dee2e6!important;
    }
    & span {
        padding: 0;
    }
}

.header {
    background-color: #f8f9fa;
}

.match {
    color: red;
}

.selection {
    width: 8%;
    background-color: white;
}

.row.thin {
    padding-top: 0;
    padding-bottom: 0;
}

.lang-header {
    vertical-align: middle;
    & input {
        vertical-align: middle;
        margin-right: .4rem;
    }
}

.shift-langs-left {
    margin-right: 1rem; 
    cursor: pointer;
}

.shift-langs-right {
    margin-left: 1rem;
    cursor: pointer;
}