$theme-dark-back-1: #5A6268;
$theme-dark-back-2: #70777c;

$slide: .5rem;

.card.basic-box {
    border: none;
    &>.card-body {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: .25rem;
    }
}

.card-header {
    &.theme-dark {
    background-color: $theme-dark-back-1;
    color: white;
    opacity: .8;
    }
}

.card-body.secondary {
    background-color: #f8f8f8;
}

div.corpus-info {
    // font-weight: 600;
    color: #111519;
    font-size: 1.1rem;
    padding-top: .9rem;
}

span.corpus-name {
    font-weight: 500;
}

span.corpus-type-info {
    font-size: 1rem;
}

span.corpus-controls {
    float: right;
    font-size: 1rem;
}

.corpus-controls-normal {
    font-size: 1.3rem;
    display: none;
    & i {
        padding: 5px;
    }
}


.corner {
    background-color: white;
    margin-top: -1px;   
}

button.row-button {
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 2.4rem;
    &.theme-dark {
        color: white;
        background-color: $theme-dark-back-2;
        border-color: $theme-dark-back-2;
        opacity: .8;
    }
    &:disabled {
        opacity: .6;
    }
    &:hover {
        background-color: darken($theme-dark-back-2, 10%);
    }
    &:focus {
        box-shadow: 0 0 0 0.15rem lighten($theme-dark-back-2, 20%);
    }
}

.plus-minus {
    margin-top: -55px;
}


@media (min-width: 768px) {

    .corpus-controls-normal {
        display: inline;
    }
    .corpus-controls-small {
        display: none;
    }
}

@media (min-width: 950px) {
    .corpus-info {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.arrow {
    font-size: 18px;
    &.enabled {
        cursor: pointer;
    }
    &.disabled {
        color: darkgray;
    }
}