.dialog {
    background-color: white;
}

.right {
    margin-left: auto;
}

.field {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: 500;
}

.group {
    margin-bottom: 2rem;
}
.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}