<div mat-dialog-content class="dialog">
    <form [formGroup]="settingsForm">
        <div *ngFor="let field of key_list (data); index as ind" class="field">
                <label *ngIf="data[field].type !== 'multiselect'" for="field-{{ ind }}" class="form-label">{{ data[field].description }}</label>
                <input class="form-control" id="field-{{ ind }}" *ngIf="data[field].type === 'number'" type="number" [formControlName]="field">
                <select class="form-select" id="field-{{ ind }}" *ngIf="data[field].type === 'select'" [formControlName]="field">
                    <option *ngFor="let option of data[field].options" [ngValue]="option.name">{{ option.label }}</option>
                </select>
                <div *ngIf="data[field].type === 'multiselect'">
                    <div  class="form-check" *ngFor="let option of data[field].options; index as check_i">
                        <input class="form-check-input" id="field-{{ ind }}-{{ check_i }}" type="checkbox" [formControlName]="field + '_' + option.name">
                        <label class="form-check-label" for="field-{{ ind }}-{{ check_i }}">{{ option.label }}</label>
                    </div>
                </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button class="btn btn-secondary right" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>