<div class="card col-md-10 offset-md-1">
    <div class="card-header text-center theme-dark">
        <div class="row justify-content-center align-content-center">
            <h5 class="card-title my-auto py-1">Basic Search</h5>
        </div>
    </div>
    <div class="card-body">
        <spoco-query-row [queryRowIndex]="qr" *ngFor="let qr of qrRange()"></spoco-query-row>
       <div class="plus-minus float-end">
            <button class="btn row-button theme-dark" (click)="moreRows()">
                +
            </button>
            <button class="btn row-button theme-dark" (click)="lessRows()" [disabled]="queryRowNumber <= 1">
                -
            </button>
       </div>
    </div>
</div>