nav.custom {
    padding-top: 0;
}

div.header {
    padding: .8rem;
    margin: 5px 6px 2rem;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 12%);
    margin-bottom: 2rem;
    border-radius: 10px;
}

a.navbar-brand {
    margin: auto;
    font-family: Bookman, Palatino, serif;
    font-size: 1.6rem;
}

.spoco {
    color: rgb(134, 11, 58);
    // border-bottom: 1px solid rgb(134, 11, 58);
    font-size: 1.05rem;
    display: inline-block;
    border: 1px solid rgba(116, 14, 53, 0.1);
    padding: 3px 6px;
    border-radius: 10px;
    position: relative;
    top: -3px;
    margin-left: .5rem;
    background-color: rgba(116, 14, 53, 0.02);
}

.sep {
    margin-left: .2rem;
    margin-right: .4rem;
    letter-spacing: 1.2px;
}

.preferences {
    margin-right: 1rem;
    font-size: 1.4rem;
    & i {
        cursor: pointer;
    }
}
