<div class="col-12 query-row">
    <form [formGroup]="queryRowForm">

        <!-- single row of input fields (for each poistional attribute of type 'text') -->

        <div class="row">
            <div
                class="col-12 col-md-6 col-lg-{{pattrClasses.lg}} col-xl-{{pattrClasses.xl}} my-1"
                [ngClass]="pattrClasses"
                formGroupName="{{ pattr.name }}"
                *ngFor="let pattr of filterByType ('text')">
                    <input class="form-control pattr-input" type="text" placeholder="{{ pattr.description }}" formControlName="value" (focusin)="currentGroup = pattr.name">
            </div>
        </div>

        <!--
            Additional row for modifiers (case sensitive, beginning etc.)
            Since each positional attribute has its own set od modifiers, and there is a place only for the one set,
            the modifiers of 'active' pattr are displayed
        -->

        <div class="modifiers">
            <span formGroupName="{{ pattr.name }}" *ngFor="let pattr of filterByType ('text')">
                <span formGroupName="modifiers" *ngIf="pattr.name == currentGroup">    <!-- TODO: is there a way to avoid second span (currently needed because groups in formGroupName cannot be nested (?)) -->
                    <label class="modifier" *ngFor="let modifier of modifiers">
                        <input type="checkbox" class="form-check-input" formControlName="{{ modifier.name }}">
                        <span class="description">
                            {{ modifier.description }}
                        </span>
                    </label>
                </span>
            </span>
            <span *ngIf="filterByType('checkbox')" class="pattr-checkboxes">
                <span formGroupName="{{ pattr.name }}" *ngFor="let pattr of filterByType ('checkbox')">
                    <input type="checkbox" class="form-check-input pattr-input" formControlName="value">
                    <span class="description">
                        {{ pattr.description }}
                    </span>
                </span>
            </span>
        </div>
        <div class="row selection" *ngIf="filterByType('selection')">
            <div class="col-12 col-md-4 col-lg-2 mt-3" formGroupName="{{ pattr.name }}" *ngFor="let pattr of filterByType('selection')">
                <select class="form-select pattr-input" *ngIf="pattr.type === 'select'" formControlName="value">
                    <option value="" disabled selected>{{ pattr.description }}</option>     <-- TODO: doesn't work after clearing -->
                    <option *ngFor="let option of pattr.options" [ngValue]="option.value">{{ option.label }}</option>
                </select>
                <ng-multiselect-dropdown *ngIf="pattr.type === 'multiselect'"
                    class="pattr-input"
                    [placeholder]="pattr.description"
                    [settings]="multiselectSettings"
                    [data]="multiselectOptions[pattr.name]"
                    formControlName="value"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
    </form>
</div>
