.action-box {
    font-size: 1.2rem;  
    & .icon {
        margin-left: .6rem;
        margin-right: .6rem;
        cursor: pointer;
    }
}

.gray {
    color: gray;
}

.enlarge {
    transition: font-size .2s ease-in;
}

.enlarge:hover {
    font-size: 110%;
}