/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.clickable {
    cursor: pointer;
}

.row > .card {
    padding: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }
