.match {
    color: red;
    &.original .annotation-inline {
        color: red;
    }
    & .annotation-inline {
        color: rgba(255, 0, 0, .7);
    }
}

.annotation-inline {
    font-size: .8rem;
    color: gray;
}

.sticky {
    margin-left: -.25em;
}