.dialog {
    background-color: white;
    font-size: .85rem !important;
    padding: 3rem;
    & select {
        font-size: .85rem !important;
    }
}

.right {
    margin-left: auto;
}

.field {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: 500;
}

.header {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #f0f0f0;
    opacity: .85;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}